<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>确认订单</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
<link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
<link rel="stylesheet" href="http://res.wx.qq.com/open/libs/weui/0.4.0/weui.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/mui.min.css">
<script type="text/javascript" src="js/mui.min.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div style="text-align: center;">
		<img th:src="${user.headimgurl} eq null ? 'images/default_head.jpg' : ${user.headimgurl}" width="100px" height="100px" style="margin-top: 10px;" class="img-circle">
		<h4 th:text="${user.userName}">喻彬</h4>
		<p th:text="${user.userMobile}">123231</p>
		<div style="margin: 10px">
			<a href="javascript:void(0)" th:onclick="'javascript:doConfirm(\''+${user.id}+'\');'" class="weui-btn weui-btn_primary" th:text='同意【 +${user.userName} +】成为合伙人'>确定</a>
			<a href="./boss_partner" class="weui-btn weui-btn_primary">不同意</a>
		</div>
	</div>
	<script type="text/javascript">
		function doConfirm(id){
			mui.ajax({
				url : 'doConfirm',
				data : {id : id},
				success : function(res){
					mui.alert("操作成功！",function(){
						window.location = "./index";
					})
				}
			});
		}
	</script>
</body>
</html>