<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>我的分红</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="css/mui.min.css">
<script type="text/javascript" src="js/mui.min.js"></script>
<!--App自定义的css-->
<link rel="stylesheet" type="text/css" href="css/app.css" />
<script type="text/javascript" src="js/mui.min.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/ydy.js"></script>
</head>
<body>
	<div class="mui-content">
		<div class="mui-card">
			<!--页眉，放置标题-->
			<div class="mui-card-header mui-card-media">
				<img src="images/logo.png" />
				<div class="mui-media-body">
					2017年10月
					<p>发表于 2016-06-30 15:30</p>
				</div>
			</div>
			<!--内容区-->
			<div class="mui-card-content">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="images/shuijiao.jpg">
							<div class="mui-media-body">
								<strong>888888</strong>
								<p class='mui-ellipsis'>同级分红</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="images/shuijiao.jpg">
							<div class="mui-media-body">
								<strong>888888</strong>
								<p class='mui-ellipsis'>服务分红</p>
							</div>
						</a>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<img class="mui-media-object mui-pull-left" src="images/shuijiao.jpg">
							<div class="mui-media-body">
								<strong>888888</strong>
								<p class='mui-ellipsis'>月度绩效分红</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>