<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>御鼎园</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="css/mui.min.css">
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<script type="text/javascript" src="js/mui.min.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/ydy.js"></script>
<style type="text/css">
.content {
	color: #ffffff;
	font-size: 40px;
}

.bg {
	background: url('images/a.jpg');
	height: 230px;
	text-align: center;
	line-height: 230px;
}

.bg-blur {
	float: left;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

.content-front {
	position: absolute;
	left: 10px;
	right: 10px;
	height: 150px;
	line-height: 150px;
	text-align: center;
}

.aligncenter {
	text-align: center;
}

.content {
	color: #ffffff;
	font-size: 40px;
}

.card {
	position: absolute;
	top: 230px;
	width: 100%;
}

.hit {
	 background-color: #eae9e9;
}
</style>
</head>
<body>
	<div>
		<div class="bg bg-blur"></div>
		<div class="content content-front">
			<img src="images/muwu.jpg" width="100px" height="100px"
				style="margin-top: 10px;" class="img-circle">
			<h2>
				<strong >张三</strong><!-- th:text="${user.userName}" -->
			</h2>
		</div>
	</div>
	<div class="mui-content">
		<div class="mui-row">
	        <div class="mui-col-sm-6 mui-col-xs-12">
	            <div class="mui-card" id="dingdanzhongxin">
					<!--页眉，放置标题-->
					<div class="mui-card-header mui-card-media">
						<img src="images/dingdanzhongxin.png" />
						<div class="mui-media-body">
							订单中心
							<p>点击查看</p>	
						</div>
					</div>
				</div>
	        </div>
	        <div class="mui-col-sm-6 mui-col-xs-12">
				<div class="mui-card" id="hehuoren">
					<!--页眉，放置标题-->
					<div class="mui-card-header mui-card-media">
						<img src="images/hehuorenzhongxin.png" />
						<div class="mui-media-body">
							合伙人中心
							<p>1个申请未处理</p>
						</div>
					</div>
				</div>
	        </div>
	    </div>
	    
	    <div class="mui-card" id="xiaoshouzonglan">
			<!--页眉，放置标题-->
			<div class="mui-card-header mui-card-media">
				<img src="images/xiaoshoujixiao.png" />
				<div class="mui-media-body">
					2017年8月销售总览
					<p>生成于2017年 09月 01日 13:00</p>
				</div>
			</div>
			<!--内容区-->
			<div class="mui-card-content">
				<div class="mui-row" style="text-align: center;">
					<div class="mui-col-sm-6 mui-col-xs-12">
						<h3>月度出货量</h3>
						<h3 style="color: green;">888888</h3>
					</div>
					<div class="mui-col-sm-6 mui-col-xs-12">
						<h3>月度销售额</h3>
						<h3 style="color: green;">888888</h3>
					</div>
				</div>
			</div>
			<!--页脚，放置补充信息或支持的操作-->
			<div class="mui-card-footer">点击查看详情</div>
		</div>
		
		 <div class="mui-card" id="tuozhanzonglan">
			<!--页眉，放置标题-->
			<div class="mui-card-header mui-card-media">
				<img src="images/tuozhanjixiao.png" />
				<div class="mui-media-body">
					2017年8月拓展总览
					<p>点击查看详情</p>
				</div>
			</div>
			<!--内容区-->
			<div class="mui-card-content">
				<div class="mui-row" style="text-align: center;">
					<h3>本月新增合伙人<span style="font-size: 38px; color: green; padding: 10px">8</span>名</h3>
				</div>
			</div>
			<!--页脚，放置补充信息或支持的操作-->
			<div class="mui-card-footer">点击查看详情</div>
		</div>
		
		 <div class="mui-card" id="fenhongzonglan">
			<!--页眉，放置标题-->
			<div class="mui-card-header mui-card-media">
				<img src="images/fenhong.png" />
				<div class="mui-media-body">
					2017年8月分红总览
					<p>点击查看详情</p>
				</div>
			</div>
			<!--内容区-->
			<div class="mui-card-content">
				<div class="mui-row" style="text-align: center;">
					<h3>本月需要发放分红<span style="font-size: 38px; color: green; padding: 10px">8888.00</span>RMB</h3>
				</div>
			</div>
			<!--页脚，放置补充信息或支持的操作-->
			<div class="mui-card-footer">点击查看详情</div>
		</div>
		
		<div style="text-align: center;">
			<a href="javascript:void(0)">@御鼎园</a>
		</div>
	</div>
	
	<script type="text/javascript">
		$("#dingdanzhongxin").on("click",function(){
			$("#dingdanzhongxin").addClass("hit");
			setTimeout(function(){
				$("#dingdanzhongxin").removeClass("hit");
			},200);
		});
		
		$("#hehuoren").on("click",function(){
			$("#hehuoren").addClass("hit");
			setTimeout(function(){
				$("#hehuoren").removeClass("hit");
			},200);
			window.location.href="boss_partner";
		});
		
		$("#xiaoshouzonglan").on("click",function(){
			$("#xiaoshouzonglan").addClass("hit");
			setTimeout(function(){
				$("#xiaoshouzonglan").removeClass("hit");
			},200);
		});
		
		$("#tuozhanzonglan").on("click",function(){
			$("#tuozhanzonglan").addClass("hit");
			setTimeout(function(){
				$("#tuozhanzonglan").removeClass("hit");
			},200);
		});
		
		$("#dingdanzhongxin").on("click",function(){
			$("#dingdanzhongxin").addClass("hit");
			setTimeout(function(){
				$("#dingdanzhongxin").removeClass("hit");
			},200);
		});
		
		$("#fenhongzonglan").on("click",function(){
			$("#fenhongzonglan").addClass("hit");
			setTimeout(function(){
				$("#fenhongzonglan").removeClass("hit");
			},200);
		});
	</script>
</body>


</html>