<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${title}">全部合伙人</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="css/mui.min.css">
<!--App自定义的css-->
<link rel="stylesheet" type="text/css" href="css/app.css" />
<script type="text/javascript" src="js/mui.min.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/ydy.js"></script>
</head>
<body>
	<div class="mui-content">
		<ul class="mui-table-view">
			<li class="mui-table-view-cell mui-media">
				<a href="javascript:;" class="mui-navigate-right">
					<img class="mui-media-object mui-pull-left" src="images/shuijiao.jpg">
					<div class="mui-media-body">
						张三
						<p class='mui-ellipsis'>2017-10-22</p>
					</div>
					<span class="mui-badge mui-badge-primary">33</span>
				</a>
			</li>
			<li class="mui-table-view-cell mui-media"><a href="javascript:;">
					<img class="mui-media-object mui-pull-left"
					src="images/muwu.jpg">
					<div class="mui-media-body">
						木屋
						<p class='mui-ellipsis'>想要这样一间小木屋，夏天挫冰吃瓜，冬天围炉取暖.</p>
					</div>
			</a></li>
			<li class="mui-table-view-cell mui-media"><a href="javascript:;">
					<img class="mui-media-object mui-pull-left" src="images/cbd.jpg">
					<div class="mui-media-body">
						CBD
						<p class='mui-ellipsis'>烤炉模式的城，到黄昏，如同打翻的调色盘一般.</p>
					</div>
			</a></li>
		</ul>
	</div>

	<script type="text/javascript">
		
	</script>
</body>
</html>