<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title th:text="${title}">全部合伙人</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="css/mui.min.css">
<!--App自定义的css-->
<link rel="stylesheet" type="text/css" href="css/app.css" />
<script type="text/javascript" src="js/mui.min.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/ydy.js"></script>
</head>
<body>
	<div class="mui-content">
		<div style="text-align: center;" th:unless="${#lists.size(userList)} gt 0">
	    	<p>暂无数据！</p>
	    </div>
		<ul class="mui-table-view">
			<li class="mui-table-view-cell mui-media" th:each="partner : ${userList}">
				<a th:href="@{/bosspartner(id=${partner.id})}" class="mui-navigate-right">
					<img class="mui-media-object mui-pull-left" th:src="${partner.headimgurl} eq null ? 'images/default_head.jpg' : ${partner.headimgurl}">
					<div class="mui-media-body">
						<span th:text="${partner.userName}">张三</span>
						<p class='mui-ellipsis' th:text="${#dates.format(partner.createTime, 'yyyy年MM月dd日 HH:mm:ss')}">2017-10-22</p>
					</div>
					<span class="mui-badge mui-badge-primary" th:if="${partner.nextNum} gt 0" th:text="${partner.nextNum}">33</span>
				</a>
			</li>
		</ul>
	</div>

	<script type="text/javascript">
		
	</script>
</body>
</html>