<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>注册</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="css/mui.min.css">
<script type="text/javascript" src="js/mui.min.js"></script>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/ydy.js"></script>
<style type="text/css">
.darkgray {
	color: darkgray;
	font-size: 10px;
}
</style>
</head>
<body>
	<div class="mui-content">
		<img src="images/a.jpg" width="100%" height="auto" />
		<form id="userinfo" onsubmit="return doRegister();" class="mui-input-group">
			<div class="mui-input-row">
				<label>手机号码</label><input type="text" name="userMobile"
					id="userMobile" value="13005476407" class="mui-input-clear" required="required"
					placeholder="请输入手机号码">
			</div>
			<div class="mui-input-row">
				<label>验&nbsp;&nbsp;证&nbsp;&nbsp;码</label> <input type="number"
					class="mui-input" style="width: 40%; float: left" name="rondomCode"
					required="required" placeholder="请输入验证码"> <a id="sendbut"
					href="javascript:void(0)" onclick="sendRondomCode()"
					style="width: 25%; float: right; font-family: 'Helvetica Neue', Helvetica, sans-serif; padding-top: 10px;">获取验证码</a>
			</div>
			<div class="mui-input-row">
				<label>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</label> <input
					type="password" name="password" required="required"
					class="mui-input-password" placeholder="请输入密码">
			</div>
			<div class="mui-input-row">
				<label>确认密码</label> <input type="password" name="confrimPassword"
					required="required" class="mui-input-password"
					placeholder="请再次输入密码">
			</div>
			<div class="mui-button-row">
				<button type="submit" class="mui-btn mui-btn-primary">确认</button>
				<button type="reset" class="mui-btn mui-btn-danger">取消</button>
			</div>
		</form>
	</div>

	<script type="text/javascript">
		function sendRondomCode() {
			if (!checkIsMobil($("#userMobile").val())) {
				mui.toast('请输入正确的手机号！');
				return;
			}
			
			if(!doSend()){
				return;
			}
			
			$("#sendbut").addClass("darkgray");
			$("#sendbut").attr('onclick', "");
			var s = 60;
			$("#sendbut").html("(60)秒后重新获取");
			var showFunc = setInterval(function() {
				s = s - 1;
				if (s == 0) {
					clearTimeout(showFunc);
					$("#sendbut").removeClass("darkgray");
					$("#sendbut").html("获取验证码");
					$("#sendbut").attr('onclick', "sendRondomCode()");
				} else {
					$("#sendbut").html("(" + s + ")秒后重新获取");
				}
			}, 1000);
		}

		function doSend() {
			var res = false;
			$.ajax({
				url : "doSendSms",
				data : $("#userinfo").serialize(),
				async : false,
				success : function(result) {
					if(result.success){
						res = true;
					}else{
						res = false;
					}
					mui.toast(result.msg);
				},
				error : function(result){
					mui.toast(result.msg);
					res = false;
				}
			});
			return res;
		}
		
		function doRegister(){
			var data = $("#userinfo").serializeArray();
			if(data[2].value != data[3].value){
				mui.toast("两次输入的密码不一致！");
				return false;
			}
			var res = false;
			$.ajax({
				url : "doRegister",
				data : $("#userinfo").serialize(),
				async : false,
				success : function(result) {
					if(result.success){
						res = true;
						window.location = "register_info";
					}else{
						mui.toast(result.msg);
						res = false;
					}
				},
				error : function(result){
					mui.toast(result.msg);
					res = false;
				}
			});
			return false;
		}
	</script>
</body>
</html>