<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>注册信息</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="css/mui.min.css">
<script type="text/javascript" src="js/mui.min.js"></script>
</head>
<body>
	<div class="mui-content">
		<img src="images/c.jpg" width="100%" height="auto" />
		<form class="mui-input-group">
			<div class="mui-input-row">
				<label>真实姓名</label><input type="text" class="mui-input-clear"
					placeholder="请输入真实姓名">
			</div>
			<div class="mui-input-row" style="height: 100px">
				<label>联系地址</label>
				<textarea id="textarea" rows="5" placeholder="请填写可收货地址，方便日后进货事宜"></textarea>
			</div>
			<div class="mui-input-row" style="height: 100px">
				<label>推&nbsp;&nbsp;荐&nbsp;&nbsp;码</label>
				<textarea id="textarea" rows="5"
					placeholder="推荐码在推荐人用户中心查看，如没有推荐人，请不要填写"></textarea>
			</div>
			<div class="mui-button-row">
				<button type="button" class="mui-btn mui-btn-primary">下一步</button>
				<button type="button" class="mui-btn mui-btn-danger">取消</button>
			</div>
		</form>
	</div>
</body>
</html>